# MongoDB Database Connection String
DATABASE_URL="mongodb+srv://username:password@cluster0.mongodb.net/portal_vamtech?retryWrites=true&w=majority"

# JWT Secret
JWT_SECRET="your-jwt-secret-key"

# Resend Email API Key (Optional)
RESEND_API_KEY=""
