# MongoDB Connection URI
DATABASE_URL="mongodb+srv://aniket24086_db_user:<password>@cluster0.nzap1o3.mongodb.net/portal_vamtech?retryWrites=true&w=majority"

# JWT Secret
JWT_SECRET="vamtech_portal_secure_jwt_secret_key_2026_99887766"

# Resend API Key for Live Email Dispatch
RESEND_API_KEY=""
RESEND_FROM_EMAIL="VAMTech HR <hr@vamtech.in>"
HR_EMAIL="contactvamtech@gmail.com"
